{% extends "mc_tasklist/base.html" %}

{% block title %}Motivation{% endblock %}
{% block content %}
<div class="container">
    <h1>Why you should hiring me?</h1>
    <p>
        The main reason why you should hiring me to your company is my desire to learn programming. My main goal for now is to get knowledge and skills becouse I have great plans for future. I know that I need to do a lot of work to become a real programmer and I ready for that.
    </p>
    <p>
        If you do not want to hire me for a salary it is not a problem because I am ready to train as much as you need for free.
    </p>
</div>
{% endblock %}